html{
    background-color: rgb(0, 238, 255);
}
h1{
    font-size: 50px;
}
h3 {
    align-items: center;
    justify-content: space-around;
}
p {
   font-size: 20px;
   font-style: italic; 
}
.t {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}
.t2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}
.oui {
    display: flex;
    text-align: center;
    width: max-content;
}
input {
    display: none;
  }

  section > div {
    display: none;
  }

  #radio-section-0:checked ~ #section-0 > div {
    display: block;
  }

  #radio-section-1:checked ~ #section-1 > div {
    display: block;
  }

  #radio-section-2:checked ~ #section-2 > div {
    display: block;
  }
  #radio-section-3:checked
  ~ #section-3 > div {
      display: block;
  }
  #radio-section-4:checked
  ~ #section-4 > div {
      display: block;
  }
  #radio-section-5:checked
  ~ #section-5 > div {
      display: block;
  }
img{

}